In [2]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

# mydict = { "name": "John", "address": "Highway 37" }

# x = mycol.insert_one(mydict)

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

for x in mycol.find():
  print(x)

{'_id': ObjectId('5e323440de73543745a78173'), 'name': 'John', 'address': 'Canyon 123'}
{'_id': ObjectId('5e32347c6ac2a9d0b05aae94'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e3deb4e9ab868ef866793b9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e3dec169ab868ef866793bb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5e3dec169ab868ef866793bc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5e3dec169ab868ef866793bd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e3dec169ab868ef866793be'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e3dec169ab868ef866793bf'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e3dec169ab868ef866793c0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e3dec169ab868ef866793c1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e3dec169ab868ef866793c2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e3dec169ab868ef866793c3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e3dec169ab868ef866793c4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5e3dec169ab868ef866793c5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e3dec169ab868ef866793c6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [3]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Canyon 123'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [4]:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5e3dec169ab868ef866793bd'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e3dec169ab868ef866793c0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e3dec169ab868ef866793c2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e3dec169ab868ef866793c6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [5]:
myquery = { "address": 'Valley 345' }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_one(myquery, newvalues)

In [6]:
for x in mycol.find({"address": 'Valley 345'}):
  print(x)

{'_id': ObjectId('5e3dec169ab868ef866793bd'), 'name': 'Minnie', 'address': 'Valley 345'}